{% extends "base.html" %}
{% load static %}
{% block title %}About - Greenwatch{% endblock %}

{% block banner %}
<p class="title has-text-centered">
    About Greenwatch
</p>
{% endblock %}


{% block content %}
<section class="section">
    <h1>Hello: {{ username }}</h1>
    <h1>results: {{the_image.results}}</h1>
    <h1>date: {{the_image.date}}</h1>

    <form method="POST" action="{% url 'about' %}">
        {% csrf_token %}
        <!--sends email notification-->
        <h1 class="title">
            sends email notification to the current logged in user
        </h1>
        <div class="control">
            <button class="button is-link is-success">
                Send Notification
            </button>
        </div>


    </form>

</section>

<section>
    <div class="container">
        <h1 class="is-size-3 has-text-centered has-text-weight-bold has-text-success">
            Tech Stack
        </h1>
    </div>
</section>

<section>
    <div class="columns">

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/azure_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/django_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/ifttt_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/postgreSQL_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/python_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/tensorflow_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 


    </div>

</section>


{% endblock %}