{% extends "base.html" %}
{% load static %}
{% block title %}About - Greenwatch{% endblock %}

{% block banner %}
<p class="title has-text-centered">
    About Greenwatch
</p>
{% endblock %}


{% block content %}


<section class="section">
    <div class="container">
        <div class="columns is-centered is-vcentered">
            <div class="column is-two-fifths">
                <h1 class="is-size-3 has-text-centered">Who made <b class="has-text-success">Greenwatch</b> ?</h1>
                <p class="is-size-5 has-text-centered">Greenwatch was developed by a group of Computer Science students
                    at California State University.</p>
                <br>
                <block>
                    <ul class="is-size-5 has-text-centered">
                        <li>Carlos Gutierrez</li>
                        <li>Daniel Rivera Guerrero</li>
                        <li>Ernesto Gomez</li>
                        <li>Nicholas Barrios</li>
                        <li>Steven Condor</li>
                    </ul>          
                </block>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <h1 class="is-size-3 has-text-centered has-text-weight-bold has-text-success">
            Tech Stack
        </h1>
    </div>
</section>

<article class="media block">
    <div class="media-content">
        <div class="content">
                <p class="is-size-5 has-text-centered">A list of technologies that helped make our project possible.           
                </p> 
        </div>
    </div>
</article>

<section>
    <div class="columns">

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/azure_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/django_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/ifttt_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/postgreSQL_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/python_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/tensorflow_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 


    </div>

</section>


{% endblock %}