{% extends "base.html" %}
{% load static %}

{% block title %}
Archive - Greenwatch
{% endblock %}

{% block banner %}
    <p class="title">
        Reset Password
    </p>
{% endblock %}

{% block content %}
    <h2>Please enter your new password twice</h2>
    <h2><br></h2>

    <article class="media">
        <div class="media-content">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <h2><br></h2>
                <input type="submit" value="Reset Password" />
            </form>
        </div>
    </article>
{% endblock %}